[user]
	name = Kevin van der Burgt
	email = kevin@zdev.com
  username = kevinvdburgt

[core]
  editor = vim
  excludesfile = ~/.gitignore

[alias]
  a = add --all
  c = commit
  ca = commit -a
  cm = commit -m
  cam = commit -am

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[push]
	default = current
[pull]
	default = current
